<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home page 🏠</title>
</head>
<body>
    <h1>Welcome to the greatest home page in the world 🌎</h1>
    <a class='the-links' href="/a">🔗 This is A 👨🏽‍⚕️</a>
    <br>
    <a class='the-links' href="/b">🔗 This is B 💃🏻</a>
</body>
</html>